[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
easygui = "*"
natsort = "*"
opencv-python = "*"
compress-json = "*"
moviepy = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.11"
